#menu-button {
    position: fixed;
    z-index: 99;
    top: 2px;
    left: 0;
    margin-left: 2%;
}

header { 
    display: flex; 
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    /*width: 80%;*/
    background-color: #cfceca;    
    padding: 5px;
    border: 4px solid #5ca0c3;
}

#header-info {
    flex: 0 1 360px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /*border: 1px solid red;*/    
}
@media (max-width: 430px) { #header-info { font-size: 15px; } }

#header-info-name { 
    font-size: 40px; 
    text-align: center;
}
@media (max-width: 430px) { #header-info-name { font-size: 30px; } }

#header-info-list {
    list-style-type: none;
}

#header-pic {
    /*flex: 0 1 300px;*/
    margin: 10px;
    /*border: 1px solid blue;*/
}
#header-pic img {
    width: 100%;
    max-width: 250px;
    /*display: block;*/
}
