
<!-- Hamburger menu -->
<div class=hamburger-menu>
    <a id="menu-button" href="#nav">
        <svg width="50" height="40" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>three-bars</title><desc>Created with Sketch.</desc><path d="M11.41 9h-10.82c-.59 0-.59-.41-.59-1 0-.59 0-1 .59-1h10.81c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4h-10.82c-.59 0-.59-.41-.59-1 0-.59 0-1 .59-1h10.81c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm-10.82 6h10.81c.59 0 .59.41.59 1 0 .59 0 1-.59 1h-10.81c-.59 0-.59-.41-.59-1 0-.59 0-1 .59-1z" fill="#000"></path></svg>
    </a>
</div>

<header>
    <div id="header-info">
        <p id="header-info-name">Justin Pearson</p>
        <ul id="header-info-list">
            <li>Senior Software Engineer</li>
            <li>AppFolio Inc</li>
            <li>California, USA</li>
            <li>justin.pearson<span style="display:none">foo</span>@gmail.com</li>
        </ul>     
        <span style="flex; align-items: center; margin: 10px;">
                <a href="https://www.youtube.com/channel/UCR0w3EPVTsRJjCJVgwGXsaA">
                    <img
                        width="20px"
                        height="20px"
                        src="{{site.baseurl}}/assets/social-buttons/youtube.png"
                    ></a>
                <a href="https://github.com/justinpearson/">
                    <img
                        width="20px"
                        height="20px"
                        src="{{site.baseurl}}/assets/social-buttons/github.png"
                    ></a>
                <a href="https://stackexchange.com/users/3565268/convexmartian">
                    <img
                        width="20px"
                        height="20px"
                        src="{{site.baseurl}}/assets/social-buttons/stack-exchange.png"
                    ></a>
                <a href="https://www.linkedin.com/in/justin-pearson-1a5b48a/">
                    <img
                        width="20px"
                        height="20px"
                        src="{{site.baseurl}}/assets/social-buttons/linkedin.png"
                    ></a>
        </span>
    </div>
    <div id="header-pic">
        <img src="{{site.baseurl}}/assets/header/my-face.png" alt="My face" >
    </div>
</header>
